In [97]:
import pandas as pd

from sklearn.metrics.pairwise import cosine_similarity

In [98]:
farm_data = pd.read_csv('data/farm.csv')
farm_data.head()

   id   createdAt   updatedAt   name  userId  crop0  crop1  crop2  crop3
0   0  2024-02-08  2024-02-08  hdkrf       0      2      4      4      4
1   1  2024-02-08  2024-02-08  pitjk       1      2      3      2      4
2   2  2024-02-08  2024-02-08  wrtrd       2      3      4      3      1
3   3  2024-02-08  2024-02-08  rheme       3      0      4      4      4
4   4  2024-02-08  2024-02-08  rntjp       4      0      1      2      1

In [99]:
farm_data = farm_data[['userId', 'crop0', 'crop1', 'crop2', 'crop3']]
farm_data.head()

   userId  crop0  crop1  crop2  crop3
0       0      2      4      4      4
1       1      2      3      2      4
2       2      3      4      3      1
3       3      0      4      4      4
4       4      0      1      2      1

In [100]:
cosine_sim = cosine_similarity(farm_data)
sim_df = pd.DataFrame(data=cosine_sim, index=farm_data.index, columns=farm_data.index)
sim_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1.000000,0.951303,0.843820,0.881662,0.473050,0.751921,0.582686,0.530395,0.574000,0.533917,...,0.109914,0.067228,0.052694,0.076903,0.062711,0.098010,0.071811,0.064707,0.069024,0.045197
1,0.951303,1.000000,0.823853,0.885906,0.548454,0.797053,0.675566,0.676434,0.742129,0.644571,...,0.276109,0.245263,0.228084,0.241725,0.232663,0.276507,0.244223,0.236431,0.252527,0.220086
2,0.843820,0.823853,1.000000,0.805961,0.648649,0.826898,0.672827,0.708142,0.768243,0.792662,...,0.440247,0.399784,0.361274,0.414397,0.398268,0.392567,0.414602,0.360001,0.365299,0.355538
3,0.881662,0.885906,0.805961,1.000000,0.790695,0.940480,0.869598,0.775728,0.747609,0.764944,...,0.472423,0.433428,0.434098,0.443774,0.443241,0.476841,0.440115,0.452292,0.450500,0.428994
4,0.473050,0.548454,0.648649,0.790695,1.000000,0.935819,0.979812,0.942847,0.842362,0.938116,...,0.887164,0.863029,0.870889,0.876879,0.867714,0.885257,0.864827,0.881766,0.871051,0.868581
5,0.751921,0.797053,0.826898,0.940480,0.935819,1.000000,0.966240,0.925820,0.874415,0.923093,...,0.716273,0.682183,0.680649,0.695043,0.683055,0.709981,0.685239,0.692748,0.688091,0.675848
6,0.582686,0.675566,0.672827,0.869598,0.979812,0.966240,1.000000,0.957341,0.877011,0.926837,...,0.829340,0.805243,0.813902,0.813115,0.807552,0.838121,0.804613,0.827128,0.822397,0.810439
7,0.530395,0.676434,0.708142,0.775728,0.942847,0.925820,0.957341,1.000000,0.966964,0.975141,...,0.891094,0.874940,0.868596,0.875470,0.864802,0.889619,0.871667,0.872047,0.877491,0.864313
8,0.574000,0.742129,0.768243,0.747609,0.842362,0.874415,0.877011,0.966964,1.000000,0.957217,...,0.824841,0.811766,0.788644,0.804255,0.799768,0.816538,0.811902,0.786117,0.803797,0.783746
9,0.533917,0.644571,0.792662,0.764944,0.938116,0.923093,0.926837,0.975141,0.957217,1.000000,...,0.890059,0.868807,0.851234,0.874798,0.866400,0.870599,0.874242,0.851591,0.855515,0.847762

In [101]:
userId = 0
sim_df[userId].sort_values(ascending=False)[1:10]

1    0.951303
3    0.881662
2    0.843820
5    0.751921
6    0.582686
8    0.574000
9    0.533917
7    0.530395
4    0.473050
Name: 0, dtype: float64

In [102]:
sim_user = []
sim_user.extend(sim_df[userId].sort_values(ascending=False)[1:11].index)
print(sim_user)

[1, 3, 2, 5, 6, 8, 9, 7, 4, 10]

In [103]:
print('target userId:', userId)
target_crop_set = set(farm_data.loc[farm_data['userId'] == userId, ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())
print(target_crop_set)
print('==============================')
for i in sim_user:
	print('userId:', i)
	crop_set = set(farm_data.loc[farm_data['userId'] == i, ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())
	print(crop_set)

target userId: 0
{2, 4}
==============================
userId: 1
{2, 3, 4}
userId: 3
{0, 4}
userId: 2
{1, 3, 4}
userId: 5
{1, 3, 4}
userId: 6
{0, 2, 3}
userId: 8
{1, 4}
userId: 9
{2, 3, 4}
userId: 7
{2, 3}
userId: 4
{0, 1, 2}
userId: 10
{0, 4}

In [104]:
target_crop_set = set(farm_data.loc[farm_data['userId'] == userId, ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())
crop_set = set(farm_data.loc[farm_data['userId'] == sim_user[0], ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())

non_duplicated_crop = crop_set - target_crop_set
print("Non-duplicated numbers in crop_set:", non_duplicated_crop)

crop_list = ['potato', 'tomato', 'pepper', 'corn', 'grape']
print('suggested crop:', crop_list[non_duplicated_crop.pop()])

Non-duplicated numbers in crop_set: {3}
suggested crop: corn